@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* For IE and Edge */
}